@charset "UTF-8";
/* CSS Document */

* {
	-webkit-boxsizing: border-box;
	-moz-boxsizing: border-box;
	-o-boxsizing: border-box;
	-ms-boxsizing: border-box;
	boxsizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

ul li, nav li {
	display: inline-block;
}

nav:first-child li a {
	margin-left: 5px;
}

nav:first-child a {
	text-align: right;
}

nav:last-child a {
	text-align: center;
}

#curating {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 25px;
}

.row {
	overflow: auto;
}

h1, h2, nav, #img-latest p, #img-insta p, a, footer p:first-child  {
	text-transform: uppercase;
}

footer {
	text-align: center;
}

h1 {
	border: 1px solid black;
	padding: 10px;
	font-size: 12px;
}

nav, .action:first-child, #logo, .passionate:first-child, #left img:first-child, #left img:nth-child(2), #left img:nth-child(3), #left img:last-child, #curating, header .row:nth-child(2) img, .action:nth-child(2) {
	float: left;
}



header .row:nth-child(2) img {
	width: 300px;
}

.left {
	margin: 100px;
}

.row:nth-child(2) {
	margin-top: 100px;
}

#img-latest, #img-insta, .action:last-child, header .social, .passionate:last-child, .right, #about header {
	float: right;
}

#about header {
	margin-right: 350px;
}

 
#img-latest, #img-insta .action:nth-child(2), .action:last-child, header .social, .passionate:last-child, .right {
	width: 100px;
}

#curating {
	width: 700px;
}

.passionate {
	padding: 50px;
}

.passionate:first-child {
	width: 1000px;
}

.passionate:last-child {
	width: 700px;
}

.action {
	width: 250px;
}

.action:nth-child(2), .action:last-child{
	width: 250px;
}

.action:nth-child(2) {
	padding-left: 100px;
}


#img-latest {
	margin-right: 75px;
}

.row:nth-child(2) {
	margin-left: 100px;
}

#curating {
	margin-left: 50px;
}

#curating-p {
	width: 200px;
	line-height: 30px;
	letter-spacing: 1px;
}

.passionate div:first-child {
	border: 1px solid #000;
}

#curating span, #portfolio span {
	background-color: black;
	display: inline-block;
	width: 50px;
	height: 3px;
	margin: 0 10px 1px;
}

.action:last-child {
	padding-right: 150px;
}

.action h2 {
	text-align: center;
	background-color: #eceeec;
	padding: 10px;
}

.action header {
	margin: -100px 75px 10px;
}

form {
	text-align: center;
}

#about img:first-of-type {
	margin: 0 auto;
}

#left {
	width: 660px;
}

.action img {
	width: 250px;
	height: 300px;
}

ul {
	list-style-type: none;
}

ul span, label {
	display: none;
}

 a {
	text-decoration: none;
	font-size: 12px;
}

a, ul, i {
	color: black;
}

a:hover, ul:hover, i:hover {
	color: gray;
}

#img-latest, #img-insta {
	background-color: #cccccc;
	background-repeat: no-repeat;
    background-size: cover; 
	width: 300px;
}

#img-latest {
	background-image: url("../img/latest.jpg");
	height: 250px;
	background-position: -1px -150px;
	
}

#img-insta {
	background-image: url("../img/insta.jpg");
	height: 200px;
}

#img-latest p, #img-insta p, form h2 {
	color: white;
}

#bg-grn {
	background-color: #4c665b;
	padding: 50px;
	margin: 50px;
}

form h2 {
	text-align: center;
}

form input, form p {
	display: inline-block;
}

input {
	padding: 6px;
	padding: 6px;
}

form a {
	padding: 9px;
	letter-spacing: 2px;
}

header .right {
	width: 100px;
}

#about img {
	text-align: center;
}

 form a {
	background-color: #eceeec;
}

#portfolio header {
	width: 100px;
}
