

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */

* {
	-webkit-boxsizing: border-box;
	-moz-boxsizing: border-box;
	-o-boxsizing: border-box;
	-ms-boxsizing: border-box;
	boxsizing: border-box;
	font-family: 'Open Sans', sans-serif;
}



/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- FORMS -- */

form a {
	padding: 9px;
	letter-spacing: 2px;
}


form input, form p {
	display: inline-block;
}


 form a {
	background-color: #eceeec;
}

form, form h2 {
	text-align: center;
}


/* -- LISTS -- */

ul {
	list-style-type: none;
}

ul span, label {
	display: none;
}

ul li, nav li {
	display: inline-block;
}

nav:first-child li a {
	margin-left: 5px;
}

nav:first-child a {
	text-align: right;
}

nav:last-child a {
	text-align: center;
}


/* -- TYPOGRAPHY -- */ 


#about {
	text-align: center;
}



h1, h2, nav, #img-latest p, #img-insta p, a, footer p:first-child  {
	text-transform: uppercase;
}


footer {
	text-align: center;
}

 a {
	text-decoration: none;
	font-size: 12px;
}

a, ul, i {
	color: black;
}

#img-latest p, #img-insta p, form h2 {
	color: white;
}

#about img {
	text-align: center;
}

#about header {
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	line-height: 30px;
}

.action h2 {
	text-align: center;
	background-color: #eceeec;
}


#about h2 {
	font-size: 25px;
	text-align: left;
}

.action p, .passionate p {
	line-height: 30px;
}


#curating {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 25px;
}

#curating {
	margin-left: 50px;
}

#curating-p {
	width: 200px;
	line-height: 30px;
	letter-spacing: 1px;
}

.passionate div:first-child {
	border: 1px solid #000;
}


h1, footer p:first-child {
	border: 1px solid black;
	padding: 10px;
	font-size: 12px;
	width: 50px;
	margin: 0 auto;
}





/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

nav, .action:first-child, #logo, .passionate:first-child, #left img:first-child, #left img:nth-child(2), #left img:nth-child(3), #left img:last-child, #curating, header .row:nth-child(2) img, .action:nth-child(2) {
	float: left;
}


#img-latest, #img-insta, .action:last-child, header .social, .passionate:last-child, .right, #about header {
	float: right;
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- HEADER -- */



header .right {
	width: 100px;
}

.action header {
	margin: -100px 75px 10px;
}

header .row:nth-child(2) img {
	width: 300px;
}

#about header {
	margin-right: 350px;
}

.passionate h2 {
	border-bottom: 3px solid black;
	padding-bottom: 30px;
}


.action header {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
}


#portfolio header {
	width: 100px;
}


/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


.left {
	margin: 100px;
}

.row:nth-child(2) {
	margin-top: 100px;
}




 
#img-latest, #img-insta .action:nth-child(2), .action:last-child, header .social, .passionate:last-child, .right {
	width: 100px;
}

#curating {
	width: 700px;
}

.passionate {
	padding: 50px;
}




.passionate:first-child {
	width: 1000px;
}

.passionate:last-child {
	width: 700px;
}

.action {
	width: 250px;
}

.action:nth-child(2), .action:last-child{
	width: 250px;
}

.action:nth-child(2) {
	padding-left: 100px;
}

.action:first-child {
	padding-left: 100px;
}


#img-latest {
	margin-right: 75px;
}


#curating span, #portfolio span, .passionate span {
	background-color: black;
	display: inline-block;
	width: 50px;
	height: 3px;
	margin: 0 1px;
}

.action:last-child {
	padding-right: 100px;
}




#about img:first-of-type {
	margin: 0 auto;
}

#left {
	width: 660px;
}

.action img {
	width: 250px;
	height: 300px;
}




a:hover, ul:hover, i:hover {
	color: gray;
}

#img-latest, #img-insta {
	background-color: #cccccc;
	background-repeat: no-repeat;
    background-size: cover; 
	width: 300px;
}

#img-latest {
	background-image: url("../img/latest.jpg");
	height: 250px;
	background-position: -1px -150px;
	margin: 50px 0;
	
}

.about {
	margin: 0 auto;
}

#img-latest p, #img-insta p {
	padding-top: 150px;
}

#img-insta {
	background-image: url("../img/insta.jpg");
	height: 200px;
	margin: 50px 100px 0 0;
}

#bg-grn {
	background-color: #4c665b;
	padding: 50px;
	margin: 50px;
}

input {
	padding: 6px;
}




#bg-grn {
	margin-top: 100px;
}

.action, #about {
	margin-bottom: 100px;
}



#about {
	border-bottom: 3px solid black;
	padding-bottom: 50px;
}

#left img:first-child {
	margin-right: 10px;
	height: 100px;
}